body {
    background: olive;
}
.App {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 15px;
}
.login-user {
    font-size: 24px;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}
.login-user:hover {
    text-decoration: underline;
}